<form class="container px-2 bg-light">
  <h1 class="text-primary">Registro de Tareas</h1>
  <div class="mb-3">
    <label class="form-label" for="nombre">Nombre</label>
    <input
      [(ngModel)]="nombre"
      name="nombre"
      class="form-control"
      type="text"
      id="nombre"
      required
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="dni">DNI</label>
    <input
      [(ngModel)]="dni"
      class="form-control"
      type="number"
      id="dni"
      name="dni"
      required
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="estadoC"> Estado Civil: </label>
    <select
      [(ngModel)]="selector"
      name="estado"
      id="estadoC"
      class="form-control"
      required
    >
      <option value="soltero">Soltero</option>
      <option value="casado">Casado</option>
      <option value="viudo">Viudo</option>
    </select>
  </div>
  <div>
    <button (click)="clickeado()" class="btn text-light btn-success">
      Enviar
    </button>
  </div>
  <br />
  <app-test1 [datos]="datos" [vali]="vali"></app-test1>
</form>
